<div class="col-lg-12 mt-3">

    <h1>{{page_title}}</h1>
    <hr>

   

    <div class="alert alert-success col-md-6 mt-3" *ngIf="status == 'success'">
        <i>The contact has been successfully created.</i>
    </div>

    <div class="alert alert-danger col-md-5 mt-3" *ngIf="status == 'error'">
        <i>An error has ocurred. Please, try again.</i>
    </div>

    <div class="alert alert-danger col-md-5 mt-3" *ngIf="status == 'existingEmail'">
        <i>The email has been taken already, please, choose another one.</i>
    </div>

    <form class="col-md-5 ml-0 pl-0" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">

        <div class="form-group">
            <label for="name"><i>Name</i></label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z À-ÿ ]+"
                class="form-control">
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block"><i>The name is invalid</i></small>
        </div>

        <div class="form-group">
            <label for="surname"><i>Surnames</i></label>
            <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required
                pattern="[a-zA-Z À-ÿ ]+" class="form-control">
            <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block"><i>Last names are not valid</i></small>
        </div>

        <div class="form-group">
            <label for="email"><i>E-Mail</i></label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control">
            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block"><i>The email is not valid</i></small>
        </div>

        <div class="form-group">
            <label for="phone"><i>Phone Number</i></label>
            <input type="text" name="phone" #phone="ngModel" [(ngModel)]="user.phone" required
                class="form-control">
            <small *ngIf="!phone.valid && phone.touched" class="invalid-feedback d-block"><i>The phone number is not valid</i></small>
        </div>

        
        <input type="submit" value={{page_title}} class="btn btn-success" [disabled]="registerForm.invalid">


    </form>
</div>